# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace
*.log

# Build Files
dist
temp
.tmp
.parcel-cache

# Vendors
node_modules/

# Project Files
packages/op-arcade-sdk/lib
.env
