/* @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap'); */
@font-face {
  font-family: 'Apercu Bold';
  src: url('./assets/fonts/apercu_bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/apercu_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Light';
  src: url('./assets/fonts/apercu_light-webfont.woff2') format('woff2'),
       url('./assets/fonts/apercu_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro Mono';
  src: local('Apercu Pro Mono'), local('ApercuPro-Mono'),
      url('./assets/fonts/apercupro-mono-webfont.woff2') format('woff2'),
      url('./assets/fonts/apercupro-mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Apercu Light', sans-serif;
  background-color: #fff;
}

a {
  color:inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  text-transform: uppercase;
}

.btn-custom {
  font-size: 0.9375rem;
  letter-spacing: 0.5px;
  min-width: 180px;
}

@media screen and (min-width: 768px) {
  .btn-custom {
    font-size: 0.825rem;
    letter-spacing: 0.4px;
  }
}